<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
    <applicationSettings>
        <Properties.Settings>
            <setting name="VehIC_WF_VehIC_WF_ICCardManageService_ICCardManageService"
                serializeAs="String">
                <value>http://192.168.2.33/VehIC_WS/ICCardManageService.asmx</value>
            </setting>
            <setting name="VehIC_WF_VehIC_WF_CommonService_CommonService"
                serializeAs="String">
                <value>http://192.168.2.122/VehIC_WS/CommonService.asmx</value>
            </setting>
            <setting name="VehIC_WF_VehIC_WF_AuthService_AuthService" serializeAs="String">
                <value>http://192.168.2.122/VehIC_WS/AuthService.asmx</value>
            </setting>
            <setting name="VehIC_WF_VehIC_WF_DoorService_DoorService" serializeAs="String">
                <value>http://192.168.2.122/VehIC_WS/DoorService.asmx</value>
            </setting>
            <setting name="VehIC_WF_VehIC_WF_SamplingService_SamplingService"
                serializeAs="String">
                <value>http://192.168.2.122/VehIC_WS/SamplingService.asmx</value>
            </setting>
            <setting name="VehIC_WF_VehIC_WF_ScaleService_ScaleService" serializeAs="String">
                <value>http://192.168.2.122/VehIC_WS/ScaleService.asmx</value>
            </setting>
        </Properties.Settings>
    </applicationSettings>
</configuration>
